<style>
    @import url(/stylesheets/view2.css);
</style>
<style type="text/css">
    @import url('https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css');
</style>


<header class="header">

    <div class="contact-info">
        <p> <i class="fas fa-map-marker-alt"></i>227 Nguyễn Văn Cừ, District 5, HCMC</p>
        <p> <i class="fas fa-envelope"></i>lynhathao.it@gmail.com</p>
        <p> <i class="fas fa-clock"></i>24/7
            <a href="https://instagram.com/nauxbachh/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/bach0807/"><i class="fab fa-facebook"></i></a>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-pinterest"></i>
            </i>
        </p>

    </div>

    <nav class="navbar">

        <a href="#" class="logo">
            <img src="./images/logo-small.svg" alt="">
            <img src="./images/Logo.svg" alt="">
            <div class="links">
                <a href="#home">Home</a>
                <a href="#about">About Us</a>
                <a href="#">Tutor</a>
                <a href="#services">News & Blog</a>
                <a href="#contact">Contact Us</a>
                <a href="./tutormode.html" class="btn">Tutor Mode</a>
                <a href="#login">Login</a>
            </div>

            <div id="menu-btn" class="fa fa-bars"></div>

    </nav>

</header>

<!-- header section ends -->

<!--body section starts -->
<section class="home" id="home">
    <div class="content">
        <h3 class="wrapper-header">
            <a href=""><i class="ri-arrow-right-s-fill"></i> View Course</a>
            <br>

        </h3>
        <div class="section">
            <div class="container wide">
                <div class="wrap">
                    <div class="content">
                        <div class="cart-table">
                            <div class="product-list has-bg">
                                <div class="table-content">
                                    <ul>
                                        {{#each courses}}
                                        <li class="dotgrid row">
                                            <div class="grouping wrapper col-9">
                                                <div class="variants">
                                                    <h4 class="dot-title"><a href="">{{this.name}}</a></h4>
                                                    <div class="price grey-color">
                                                        <span>Price: {{this.price}} VNĐ</span>
                                                    </div>
                                                    <div class="schedule">
                                                        <span>{{this.schedule}}</span>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="choose col-3">
                                                <button class="deny">Remove</button>
                                                <button class="edit">Edit </button>
                                                <button class="clone">Clone</button>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="image">
        <img src="/images/{{user.avatar}}" id="profile-pic">
    </div>

</section>

<!--body section ends -->
<!-- footer section starts  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <a class="link" href="#home"> <i class="fas fa-angle-right"></i> Home</a>
            <a class="link" href="#about"> <i class="fas fa-angle-right"></i> About</a>
            <a class="link" href="#"> <i class="fas fa-angle-right"></i>Tutor</a>
            <a class="link" href="#services"> <i class="fas fa-angle-right"></i>News & Blog</a>
            <a class="link" href="#contact"> <i class="fas fa-angle-right"></i> Contact</a>
            <a class="link" href="#"> <i class="fas fa-angle-right"></i> Login</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="link"> <i class="fas fa-phone"></i>0942607590</a>
            <a href="#" class="link"> <i class="fas fa-phone"></i>0942492722</a>
            <a href="#" class="link"> <i class="fas fa-envelope"></i> lynhathao.it@gmail.com </a>
            <a href="#" class="link"> <i class="fas fa-map"></i>227 Nguyễn Văn Cừ, District 5, HCMC</a>
        </div>

        <div class="box">
            <h3>Subscribe</h3>
            <p>Join Our Mailing List & to get our news.</p>
            <form action="">
                <input type="email" name="" placeholder="enter your email address" id="" class="email">
                <input type="submit" value="subscribe" class="btn">
            </form>
            <div class="share">
                <a href="https://www.facebook.com/LNH.1105" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

    </div>

    <div class="credit"> © Created by <span>TUS Team</span> | all rights reserved! </div>

</section>

<!-- footer section ends -->

<script>
    const $ = document.querySelector.bind(document)
    const $$ = document.querySelectorAll.bind(document)

    let menu = document.querySelector('#menu-btn');
    let navbarLinks = document.querySelector('.header .navbar .links');

    menu.onclick = () => {
        menu.classList.toggle('fa-times');
        navbarLinks.classList.toggle('active');
    }

    window.onscroll = () => {
        menu.classList.remove('fa-times');
        navbarLinks.classList.remove('active');

        if (window.scrollY > 60) {
            document.querySelector('.header .navbar').classList.add('active');
        } else {
            document.querySelector('.header .navbar').classList.remove('active');
        }
    }


    const remove = $('.remove')
    const edit = $('.edit')
    const clone = $('.clone')

</script>